@{
	Layout = "~/Views/Shared/_Layout_Renewal.cshtml";
}
	<div class="wrapper ">
		<div class="main-panel">
			<div class="top-panel">
				<center style="line-height:50px">TV 편성표(@DateTime.Now.ToString("yyyy-MM-dd"))</center>
			</div>
			<div class="top-panel">
				<!-- Slick 로테이션 메뉴 -->
				<section id="slickMenu" class="regular slider">
				</section>
				<!-- Slick 로테이션 메뉴 -->
			</div>
			<!-- Navbar -->
			<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute">
				<div class="container-fluid">
					<div style="width:100%">
						<div class="input-group no-border">
							<input type="text" id="txtSearch" placeholder="채널/프로그램 찾기" class="form-control">
							<button class="btn btn-white btn-round btn-just-icon searchBtn">
								<i class="material-icons">search</i>
								<div class="ripple-container"></div>
							</button>
						</div>
						<!-- Search Result Start -->
						<div id="pnlSearchResult" class="alert alert-info alert-with-icon" data-notify="container" style="display:none">
							<i class="material-icons" data-notify="icon">add_alert</i>
							@*<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<i class="material-icons">close</i>
							</button>*@
							<span id="resultMessage" data-notify="message" style="font-size: 9pt"></span>
						</div>
						<!-- Search Result End -->
					</div>
				</div>
			</nav>
			<!-- End Navbar -->
			<div class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12 col-md-12">
							<div class="card">
								<div style="margin-top:15px;width:100%;height:80px;border:1px solid black">
									<center style="line-height:80px;">
										<ins class="adsbygoogle"
											 style="display:block"
											 data-ad-client="ca-pub-9553320581194506"
											 data-ad-slot="2795756408"
											 data-ad-format="auto"></ins>
										<script>
											(adsbygoogle = window.adsbygoogle || []).push({});
										</script>
									</center>
								</div>

								<div class="card-body">
									<div class="tab-content">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>